<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>图书管理</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="">图书管理</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="./book.html">
                  <span data-feather="file"></span>
                  书籍管理 
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./publisher.html">
                  <span data-feather="layers"></span>
                  出版社管理
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="row justify-content-between">
            <div class="col-2">
                <h1 class="h2" style="margin-top: 20px;margin-bottom: 20px">书籍管理</h1>
            </div>
            <div class="col-1">
              <a href="./bookinfo.html">
                <button class="btn btn-info" style="margin-top: 20px; margin-bottom: 20px;width: 80px;height: 40px;">新增</button>
              </a>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>条形码</th>
                  <th>图书编号</th>
                  <th>书名</th>
                  <th>著译者</th>
                  <th>出版处</th>
                  <th>页数</th>
                  <th>开本</th>
                  <th>版期</th>
                  <th>版次</th>
                  <th>价格</th>
                  <th>书架名称</th>
                  <th>备注</th>
                  <th>入库时间</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody id="table"></tbody>
              <script id="bookTable" type="text/html">
              {{each list value index}}
              <tbody>
                  <td>{{index + 1}}</td>
                  <td>{{value['barCode']}}</td>
                  <td>{{value['number']}}</td>
                  <td>{{value['name']}}</td>
                  <td>{{value['author']}}</td>
                  <td>{{value['publisher']}}</td>
                  <td>{{value['pageNumber']}}</td>
                  <td>{{value['size']}}</td>
                  <td>{{value['version']}}</td>
                  <td>{{value['edition']}}</td>
                  <td>{{value['price']}}</td>
                  <td>{{value['location']}}</td>
                  <td>{{value['annotation']}}</td>
                  <td>{{value['createAt']}}</td>
                  <td>
                    <a href="./bookinfo.html?id={{value['id']}}" style="text-decoration: none;color:initial;">
                      <button data-feather="edit"></button>
                    </a>
                    <button onclick='deleteBookInfo({{value['id']}})' style="margin-left:5px" data-feather="x-circle"></button>
                    </td>
                </tbody>
                {{/each}}
              </script>
            </table> 
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./js/jquery-3.1.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/moment.min.js"></script>
    <script src="./js/template-web.js"></script>
    <script src="./js/booksystem.js"></script>

    <!-- Icons -->
    <script src="./js/feather.min.js"></script>
    <script>
      
      $(function() {
        getBookList();
      });

    </script>
  </body>
</html>
